.h1
{
    font-family: Staatliches;
    color: #e2001a;
    border-top: 3px solid #e2001a;
    border-bottom: 3px solid#e2001a;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 0px;
    line-height: 1em;
}

.p
{
    font-family: helvetica;
    color: #7e7e7e;
    margin-bottom: 45px;
    font-size: 10px;
}

.href
{
    font-family: helvetica;
    text-decoration: none;
}

.mixlink
{
    line-height: 16px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: helvetica, arial, san serif;
}

.amixlink
{
    font-family: helvetica;
    color: #9d9d9d;
    line-height: 1.6em;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    background: #111111;
    display: inline-flex;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px 10px;
    border-radius: 20px;
}

.amixlink:hover
{
    font-family: helvetica;
    color: #000;
    line-height: 1.6em;
    font-weight: 600;
    font-size: 14px;
    background: #e2001a;
}

.body
{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #222222;
}

.mixsections
{
    font-family: staatliches;
    font-weight: 900;
    font-size: 16px;
    color: #787878;
    padding: 5px;
    margin-top: 2%;
    margin-bottom: 5px;
    margin-right: 15px;
    border: solid 3px #787878;
    text-decoration: none;
}

.hotmixlogo
{
    width: 150px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-top: 10px;
}

.h2
{
    font-family: Staatliches;
    font-size: 24px;
    color: #4c4c4c;
    font-weight: 200;: 0;
    border-bottom: 2px solid #4c4c4c;
    margin-bottom: 0px;
}

.header
{
    width: 100%;
    background-image: url('/img/header.png');
    max-height: 185px;
}

.footer
{
    width: 100%;
    height: 250px;
    border-top: 2PX SOLID #e2001a;
    float: left;
    clear: both;
}

.djsection
{
    font-family: staatliches;
    font-size: 18px;
    text-decoration: inherit;
    color: e2001a;
}

.djsectionmenu
{
    font-family: staatliches;
    font-size: 33px;
    color: #e2001a;
    line-height: 1em;
    z-index: 100;
    display: block;
    width: 10%;
    height: 130px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 130px;
}

.djsectionmenu:hover
{
    background-color: #e3301a;
}

.djsection
{
    font-family: staatliches;
    font-size: 33px;
    color: e2001a;
    line-height: 1em;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.djsection:hover
{
    background-color: #000;
}

.h2
{
    font-family: staatliches;
    color: #e2001a;
    font-size: 24px;
    padding-top: 5px;
    border-bottom: 2px solid #e2001a;
}

.homeheader
{
    background-image: url('/img/header.png');
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.bottomimg
{
}

.imglink
{
    width: 200px;
}

.footerlegal
{
    right: 0;
    float: right;
    margin-top: 80px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */

.column
{
    float: left;
    margin-left: 0px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 15%;
}

/* Clear floats after image containers */

.row::after
{
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 768px)
{
    .column
    {
        padding-left: 5%;
        padding-right: 5%;
        width: 40%;
    }
    .h2
    {
        font-size: 14px;
    }
    .footer
    {
        margin-top: 15%;
    }
}

@media screen and (max-width: 500px)
{
    .column
    {
        padding-left: 0%;
        padding-right: 5%;
        width: 45%;
    }
}

.profileimg
{
    overflow: hidden;
    height: auto;
    padding-left: auto;
    padding-right: auto;
    width: 30%;
}

.profilesection
{
    width: 100%;
    overflow: hidden;
    margin-bottom: 2.5%;
    background-color: #e2001a;
}

.image_collage
{
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}

.image_collage img
{
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1200px)
{
    .image_collage
    {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px)
{
    .image_collage
    {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px)
{
    .image_collage
    {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px)
{
    .image_collage
    {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.alphabetpanel
{
    width: 100%;
    float: left;
    border-top: 1px dotted;
    background-repeat: repeat;
    overflow: hidden;
    height: 100%;
}

@media (min-width:500px)
{
    .alphabetimg
    {
        position: relative;
        float: none;
        top: 5px;
        left: 5px;
        height: 200px;
    }
}

.alphabetgrid
{
    width: 100%;
    margin-top: 40px;
    padding-left: auto;
    padding-right: auto;
}

.latest
{
    position: relative;
    clear: both;
}

.latestdiv
{
    width: 100%;
    position: relative;
    clear: both;
    float: left;
}

.alphabet
{
    width: 100%;
    margin-bottom: 40px;
    float: left;
    clear: both;
    margin-top: 20PX;
}

.sponsors
{
    margin-top: 20px;
    clear: both;
    float: left;
}

.linkimg:hover
{
    filter: invert(70%);
}

/* tooltips are based on https://designshack.net/articles/css/html5-css3-anchor-link-tooltips/*/
a.tooltip{
    position: relative;
    display: inline;
}
a.tooltip:after{
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 20%;
    opacity: 0;
    content: attr(data-tool); /* might also use attr(title) */
    height: auto;
    min-width: 100px;
    padding: 5px 8px;
    z-index: 999;
    color: #9d9d9d;
    line-height: 13px;
    font-weight: 600;
    font-size: 13px;
    font-family: helvetica, arial, san serif;
    text-decoration: none;
    text-align: center;
    background: rgba(0,0,0,0.85);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
}

a.tooltip:before {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    left: 50%;
    bottom: 0px;
    opacity: 0;
    content: "";
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: rgba(0,0,0,0.85) transparent transparent transparent;
}
a.tooltip:hover:after{ visibility: visible; opacity: 1; bottom: 20px; }
a.tooltip:hover:before{ visibility: visible; opacity: 1; bottom: 14px; }

/* tips on bottom */
a.tooltip.bottom:after { bottom: auto; top: 0; }
a.tooltip.bottom:hover:after { top: 28px; }
a.tooltip.bottom:before {
    border-width: 0 5px 8.7px 5px;
    border-color: transparent transparent rgba(0,0,0,0.85) transparent;
    top: 0px
}
a.tooltip.bottom:hover:before { top: 20px; }


/* tips on the right */
a.tooltip.right:after { left: 100%; bottom: -45%; }
a.tooltip.right:hover:after { left: 110%; bottom: -45%; }
a.tooltip.right:before {
    border-width: 5px 10px 5px 0;
    border-color: transparent rgba(0,0,0,0.85) transparent transparent;
    left: 90%;
    bottom: 2%;
}
a.tooltip.right:hover:before { left: 100%; bottom: 2%; }


/* tips on the left */
a.tooltip.left:after { left: auto; right: 100%; bottom: -45%; }
a.tooltip.left:hover:after { right: 110%; bottom: -45%; }
a.tooltip.left:before {
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent rgba(0,0,0,0.85);
    left: auto;
    right: 90%;
    bottom: 2%;
}
a.tooltip.left:hover:before { right: 100%; bottom: 2%; }

a.tooltip.animate:after, a.tooltip.animate:before {
    -webkit-transition: all 3s ease-out 0.1s;
    -moz-transition: all 3s ease-out 0.1s;
    -ms-transition: all 3s ease-out 0.1s;
    -o-transition: all 3s ease-out 0.1s;
    transition: all 3s ease-out 0.1s;
}

@media (max-width:499px)
{
    .djsectionmenu500
    {
        height: 70px;
        overflow: hidden;
        min-width: 60px;
        width: 50%;
    }
    .alphabetimg500
    {
        height: 100px;
    }
    .alphabetpanel480down
    {
        height: 70px;
        overflow: hidden;
        width: 100px;
    }
}

@media (max-width:767px)
{
    .h1mobile
    {
        font-size: 18px;
    }
}
