        <section class="sponsors">
            <h2 class="h2">A WORD TO OUR SPONSORS</h2>
            <div class="row">
                <div class="column">
                    <h2 class="h2">BANK/CC DONATIONS</h2>
                    <a href="http://donate.intergalactic.fm">
                        <img src="/img/cards.png" alt="Bank/CC donations logo" style="width:100%" class="linkimg">
                    </a>
                </div>
                <div class="column">
                    <h2 class="h2">PAYPAL DONATIONS</h2>
                    <a href="https://paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=wxb3w2ql8c4z4">
                        <img src="/img/paypal.png" alt="PayPal donations logo" style="width:100%" class="linkimg">
                    </a>
                </div>
                <div class="column">
                    <h2 class="h2">DIGI SHOP</h2>
                    <a href="https://viewlexx.bandcamp.com">
                        <img src="/img/digishop-new.png" alt="Digi Shop logo" style="width:100%" class="linkimg">
                    </a>
                </div>
                <div class="column">
                    <h2 class="h2">INTERGALACTIC FM</h2>
                    <a href="https://intergalactic.fm">
                        <img src="/img/ifmlogo.png" alt="Intergalactic FM logo" style="width:100%" class="linkimg">
                    </a>
                </div>
                <div class="column">
                    <h2 class="h2">INTERGALACTIC FM SHOP</h2>
                    <a href="http://shop.intergalactic.fm">
                        <img src="/img/tshirt.png" alt="Intergalactic FM shop logo" style="width:100%" class="linkimg">
                    </a>
                </div>
            </div>
        </section>
        <footer class="footer">
            <a href="/">
                <img src="/img/hotmixgrey.png" alt="Hotmix logo" class="hotmixlogo"/>
            </a>
            <p class="p footerlegal">Copyright Hotmix Foundation / IFMX 2020</p>
        </footer>
    </body>
</html>
