        <section class="sponsors">
            <h2 class="h2">A WORD TO OUR SPONSORS</h2>
            <div class="row">
                <div class="column">
                    <h2 class="h2">Bank/CC donations</h2>
                    <a href="http://donate.intergalactic.fm">
                        <img src="/img/cards.png" style="width:100%" class="linkimg">
                    </a>
                </div>
                <div class="column">
                    <h2 class="h2">PAYPAL DONATIONS</h2>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=wxb3w2ql8c4z4">
                        <img src="/img/paypal.png" style="width:100%" class="linkimg">
                    </a>
                </div>
                <div class="column">
                    <h2 class="h2">DIGI SHOP</h2>
                    <a href="https://viewlexx.bandcamp.com/">
                        <img src="/img/digishop-new.png" style="width:100%" class="linkimg">
                    </a>
                </div>
                <div class="column">
                    <h2 class="h2">INTERGALACTIC FM</h2>
                    <a href="https://www.intergalactic.fm/">
                        <img src="/img/ifmlogo.png" style="width:100%" class="linkimg">
                    </a>
                </div>
                <div class="column">
                    <h2 class="h2">INTERGALACTIC FM SHOP</h2>
                    <a href="http://shop.intergalactic.fm">
                        <img src="/img/tshirt.png" style="width:100%" class="linkimg">
                    </a>
                </div>
            </div>
        </section>
        <footer class="footer">
            <a href="/">
                <img src="/img/hotmixgrey.png" class="hotmixlogo"/>
            </a>
            <p class="p footerlegal">Copyright Hotmix Foundation / IFMX 2020</p>
        </footer>
    </body>
</html>
