<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Hotmixes.net</title>
<link href="/style/hotmixstyle.css" rel="stylesheet" type="text/css">
<style>
    @import url('https://fonts.googleapis.com/css?family=Staatliches');
</style>
</head>
<header class="header">
    <a href="/">
        <img src="/img/hotmixwhite.png" class="hotmixlogo"/>
    </a>
</header>
<body class="body">
    <h1 class="h1">No Fancy Stuff - Downloads Only.<br>
        Welcome to Hotmixes.net (Beta) - The CBS / Intergalactic FM Archives</h1>
