{(head.html)}
<div class="all_files">

    <div class="image_collage">
{% for i, image in ipairs(local_images) do %}
        <a href="{{ local_path .. image }}">
            <img src="{{ local_path .. image }}">
        </a>
{% end %}
    </div>

{% for i, dir in ipairs(local_dirs) do %}
    <br>
        <a href="{{ local_uri .. dir }}" class="djsection"><span>{{ dir }}</span></a>
    <br>
{% end %}
    <br>

{% for i, file in ipairs(local_files) do %}
    <a class="amixlink" href="{{ local_path .. file }}">
        <span class="mixlink">{{ file }}</span>
    </a>
    </br>
{% end %}
</div>

<section class="latest">
    <div class="latest_files">
        <br>
        <br>
        <h1 class="h1">Latest uploads:</h1>
    {% for i, file in ipairs(local_latestpath) do %}
        <a class="amixlink" href="{{ '/mixes/' .. file }}">
            <span class="mixlink">{{ local_latestname[i] }}</span>
        </a>
        </br>
    {% end %}
    </div>
</section>
{(foot.html)}
