{(head.html)}
<div class="all_files">
{% for i, dir in ipairs(local_dirs) do %}
    <br>
        <a href="{{ local_uri .. dir }}" class="djsection"><span>{{ dir }}</span></a>
    <br>
{% end %}
    <br>
{% for i, file in ipairs(local_files) do %}
    <a class="amixlink" href="{{ local_path .. file }}">
        <span class="mixlink">{{ file }}</span>
    </a>
    </br>
{% end %}
</div>

<div class="latest_files">
    <br>
    <h1 class="h1">Our latest uploads:</h1>
    <br>
{% for i, file in ipairs(local_latest) do %}
    <a class="amixlink" href="{{ '/mixes/' .. file }}">
        <span class="mixlink">{{ local_latestname[i] }}</span>
    </a>
    </br>
{% end %}
</div>
{(foot.html)}
